In [21]:
#)title
print("title: cumulative test prepration - python basics \n\\guvi\\")

title: cumulative test prepration - python basics
\guvi\

In [3]:
#)string
print("sudharsan")

sudharsan

In [4]:
#)integer
print(45)

45

In [5]:
#)float
print(878.67)

878.67

In [6]:
#)boolean
print(False)

False

In [2]:
#)variable - string
my_name = "letter pad"
print(my_name)

#)variable - int
current_year = 2024
print(current_year)

#)variable - float
my_bill = 89.65
print(my_bill)

#)variable - bool
my_bool = True
print(my_bool)

letter pad
2024
89.65
True

In [3]:
#) print variable with text data
print("my name is:\n",my_name)

print("the current year is:\n",current_year)

print("the electricity bill is:\n",my_bill)

print("the opinion about him is:\n",my_bool)

my name is:
 letter pad
the current year is:
 2024
the electricity bill is:
 89.65
the opinion about him is:
 True

In [19]:
#)print multiple variables with text
print(f"I have a house named {my_name} which I built in {current_year}")

I have a house named letter pad which I built in 2024

In [20]:
#)print multiple variables with text
print(f"my house electricity bill is {my_bill} which I predicted {my_bool}")

my house electricity bill is 89.65 which I predicted True

In [23]:
#) getting inputs from users
user_name = input("Enter your name:\n")

user_age = input("Enter your age:\n")

user_marks = input("Enter your marks:\n")

user_friendly = input ("input our friendly characteristics:\n")

Enter your name:
 sudharsan
Enter your age:
 32
Enter your marks:
 56
input our friendly characteristics:
 True

In [24]:
#) checking the user input datatypes
user_age_dtype = type(user_age)
print(f"the data type of {user_age} is\n{user_age_dtype}")

the data type of 32 is
<class 'str'>

In [25]:
#)type casting
user_name = str(input("Enter your name:\n"))

user_age = int(input("Enter your age:\n"))

user_marks = float(input("Enter your marks:\n"))

user_friendly = bool(input ("input our friendly characteristics:\n"))

Enter your name:
 sudharsan
Enter your age:
 32
Enter your marks:
 45.6
input our friendly characteristics:
 True

In [26]:
#) checking the user input datatypes after type casting
user_age_dtype = type(user_age)
print(f"the data type of {user_age} is\n{user_age_dtype}")

the data type of 32 is
<class 'int'>

In [30]:
#) arithmetic operators
user_num1 = int(input("Enter the number 1:\n"))
user_num2 = int(input("Enter the number 2:\n"))
addition = user_num1 + user_num2
subtract = user_num1 - user_num2
multiple = user_num1 * user_num2
division = user_num1 / user_num2
quotient = user_num1 // user_num2
reminder = user_num1%user_num2
print(f"\naddition:\n{addition}\n\nsubtraction:\n{subtract}\n\nmultiplication:\n{multiple}")
print(f"\ndivision:\n{division}\n\nquotient:\n{quotient}\n\nreminder:\n{reminder}")

Enter the number 1:
 3456
Enter the number 2:
 23

addition:
3479

subtraction:
3433

multiplication:
79488

division:
150.2608695652174

quotient:
150

reminder:
6

In [12]:
#)string slicing
slice1 = my_name[7:]
print(slice1)

slice2 = my_name[2:5]
print(slice2)

slice3 = my_name[-6:]
print(slice3)

slice4 = my_name[-5:-1]
print(slice4)

pad
tte
er pad
r pa

In [33]:
#) counting the string letters
len(slice4)

4

In [13]:
#) list
my_list = ['sudharsan',3034,25.789,True]
print(my_list)

['sudharsan', 3034, 25.789, True]

In [16]:
#)list slicing
list_slice1 = my_list[0]
print(list_slice1)

list_slice2 = my_list[1:3]
print(list_slice2)

list_slice3 = my_list[-3]
print(list_slice3)

sudharsan
[3034, 25.789]
3034

In [17]:
#) appending the list
new_name = 'Rudramurthy'
my_list.append(new_name)
print(my_list)

['sudharsan', 3034, 25.789, True, 'Rudramurthy']

In [18]:
#) appending the list
new_list = [10,'coimbatore',234.56]
my_list.append(new_list)
print(my_list)

['sudharsan', 3034, 25.789, True, 'Rudramurthy', [10, 'coimbatore', 234.56]]

In [19]:
#)extending the list
new_name2 = 'Hari'
new_list.extend(new_name2)
print(new_list)

[10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i']

In [20]:
#)extending the list
new_list1 = [34,'sweet',45.67]
new_list.extend(new_list1)
print(new_list)

[10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i', 34, 'sweet', 45.67]

In [23]:
#)counting the elements in the list
count_list = new_list.count(10)
print(count_list)

1

In [28]:
#) to find a position of an element in the list
new_list.index('H')

3

In [31]:
#)inserting an element in the list with index
my_list.insert(3,'tree')
print(my_list)

['sudharsan', 3034, 25.789, 'tree', 'tree', True, 'Rudramurthy', [10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i', 34, 'sweet', 45.67]]

In [32]:
#)inserting an element in the list with index
my_list.insert(4,'cap')
print(my_list)

['sudharsan', 3034, 25.789, 'tree', 'cap', 'tree', True, 'Rudramurthy', [10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i', 34, 'sweet', 45.67]]

In [34]:
#)deleting an element in the list - pop
my_list.pop(1)
print(my_list)

['sudharsan', 25.789, 'tree', 'cap', 'tree', True, 'Rudramurthy', [10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i', 34, 'sweet', 45.67]]

In [36]:
#)deleting an element in the list - remove
my_list.remove('tree')

In [37]:
print(my_list)

['sudharsan', 25.789, 'cap', 'tree', True, 'Rudramurthy', [10, 'coimbatore', 234.56, 'H', 'a', 'r', 'i', 34, 'sweet', 45.67]]

In [38]:
#) tuple
my_tuple = ('Apple',35,786.67,98)
print(my_tuple)

('Apple', 35, 786.67, 98)

In [39]:
#) tuple is immutable
my_tuple.append(67)

AttributeError: 'tuple' object has no attribute 'append'

In [42]:
#) set not allowing the duplicate
my_set = {6,10,12,45,45,67}
print(my_set)

{67, 6, 10, 12, 45}

In [43]:
#) dictionary
my_dict = {"name":'sudharsan',
          "age":32,
          "native":"coimbatore",
          "course": "data science",
          "institute":"guvi"}
print(my_dict)

{'name': 'sudharsan', 'age': 32, 'native': 'coimbatore', 'course': 'data science', 'institute': 'guvi'}

In [44]:
#)acccessing the dictionary - keys
my_dict.keys()

dict_keys(['name', 'age', 'native', 'course', 'institute'])

In [45]:
#)values
my_dict.values()

dict_values(['sudharsan', 32, 'coimbatore', 'data science', 'guvi'])

In [46]:
#) items
my_dict.items()

dict_items([('name', 'sudharsan'), ('age', 32), ('native', 'coimbatore'), ('course', 'data science'), ('institute', 'guvi')])

In [49]:
#) accesing one key
my_dict['name']

'sudharsan'

In [50]:
#) inserting new key
my_dict['local'] = 'chennai'

In [51]:
print(my_dict)

{'name': 'sudharsan', 'age': 32, 'native': 'coimbatore', 'course': 'data science', 'institute': 'guvi', 'local': 'chennai'}

In [52]:
#)deleting one key
my_dict.pop("age")
print(my_dict)

{'name': 'sudharsan', 'native': 'coimbatore', 'course': 'data science', 'institute': 'guvi', 'local': 'chennai'}

In [53]:
#) true
print(bool("Hello"))

True

In [54]:
#) false
print(bool())

False

In [56]:
#) string concantation
text_a = "my name is"
text_b = " sudharsan"
concanted_text = text_a + text_b
print(concanted_text)

my name is sudharsan

In [57]:
#) string length
len(my_name)

10

In [62]:
#) arithmetic operators - square
x =3
print(x**1)

x =3
print(x**2)

x =3
print(x**3)

3
9
27

In [73]:
#) if condition with logical operators
user_age = int(input("Enter your age:"))
if user_age > 18:
    print("you are eligible for the vote")
else:
    print("you are not eligible for the vote")

Enter your age: 10

you are not eligible for the vote

In [75]:
user_age = int(input("Enter your age:"))
if user_age < 18:
    print("you are not elegible for the vote")
else:
    print("you are eligible for the vote")

Enter your age: 12

you are not elegible for the vote

In [76]:
#) if not
user_age = int(input("Enter your age:"))
if not user_age > 18:
    print("you are not elegible for the vote")
else:
    print("you are eligible for the vote")

Enter your age: 45

you are eligible for the vote

In [80]:
#) if, elif
user_marks = float(input("Enter your marks:"))
if user_marks >= 90:
    grade = 'A'
elif user_marks>=80:
    grade = 'B'
elif user_marks >=70:
    grade = 'C'
else:
    grade = 'pass'
print(grade)

Enter your marks: 75

C

In [85]:
#) and
place1 = str(input("Enter your favourite place 1:"))
place2 = str(input("Enter your favorite place 2"))
if place1 == 'chennai' and place2 == 'salem':
    print("my favorite")
else:
    print('not my favourite')

Enter your favourite place 1: chennai
Enter your favorite place 2 attur

not my favourite

In [88]:
#) or
place1 = str(input("Enter your favourite place 1:"))
place2 = str(input("Enter your favorite place 2"))
if place1 == 'chennai' or place2 == 'salem':
    print("my favorite")
else:
    print('not my favourite')

Enter your favourite place 1: erode
Enter your favorite place 2 salem

my favorite